@{
    ViewData["Title"] = "About me";
}
<h1>About me</h1>

<br />

<p>
    La aplicación está compuesta por una base de datos relacional, una API y una capa de presentación.
</p>
<p>
    En el backend, se ha utilizado SQL Server,.NET 5.0 WebApi, Entity Framework y LINQ.
</p>
<p>
    En el frontend, ASP.NET Core MVC (Razor), HTML, CSS (+ Bootstrap) y JavaScript.
</p>
